//Tipografia
$fuente_principal:'Lato', sans-serif;

//colores
$negro: #000000;
$gris: #3A4750;
$rojo : #D72323;
//$blanco: #F5EDED;
$blanco: #FFFFFF;


//Tamaños de Media Query
$telefono:480px;
$tablet:768px;
$desktop:992px;
$desktopXL:1200px;
